<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVendedorPassagemService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:15277/VendedorPassagemService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVendedorPassagemService"
                contract="VendedorPassagemService.IVendedorPassagemService"
                name="BasicHttpBinding_IVendedorPassagemService" />
        </client>
    </system.serviceModel>
</configuration>