<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <services />
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IControladorPassagemService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAuthenticationService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14677/AuthenticationService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthenticationService"
                contract="AuthenticationService.IAuthenticationService" name="WSHttpBinding_IAuthenticationService" />
            <endpoint address="http://localhost:14677/ControladorPassagemService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IControladorPassagemService"
                contract="ControladorPassagemService.IControladorPassagemService"
                name="BasicHttpBinding_IControladorPassagemService" />
        </client>
    </system.serviceModel>
</configuration>